
h1 {
    font-family: monospace;
    font-weight: bold;
    font-size: 2.5rem;
}

.title {
    display: flex;
    justify-content: center;
}

.daysFrame {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    column-gap: 2rem;
    row-gap: 0.5rem;
    margin: 3rem;
}

label {
    font-family: monospace;
    font-size: 1rem;
    text-align: center;
}

.preferences {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
}

button {
    font-family: monospace;
    font-size: 1.3rem;
    padding: 0.5rem;
    grid-column-start: 5;
    grid-column-end: 7;
}

.encapsulator {
    justify-content: center;
    display: flex;
}

.encapsulatorPatios {
    grid-column-start: 3;
    grid-column-end: 4;

}

.encapsulatorDias {
    grid-column-start: 4;
    grid-column-end: 5;
}

h3 {
    float: right;
    padding-top: 3rem;
    padding-right: 2rem;
    font-family: monospace;
    font-size: 1.5rem;
    font-weight: 300;
}
